@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.page{margin: -30px;}
.home{
 background-color: rgba(12, 13, 67, 0.37);
 height: 90px;
}
img{
 position: absolute;
 width: 120px;
 height: 230px;
 left: -10px;
 top: -50px;
}
#logo:hover{
 filter:blur(2px); 
}  
#Maintitle{
 color:#05117C;
 padding: 3px;
 text-align: left;
 margin-left: 130px;
 font-family: 'Signika SC', 'sans-serif';
 font-size: 45px;
}
#Subtitle{
 color:#4b4949; ;
 text-align: left;
 margin-left: 130px;
 font-family: 'Signika Negative','sans-serif';
 font-size: 25px;
 margin-top: -33px;
}