@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-image: url('../../public/img/Druze1flags.jpg');
 
}

.about {
    width: 1020px;
    height: 380px;
    background-color: rgba(236, 236, 236, 0.728);
    margin-top: 130px;
    margin-left: 80px;
    padding: 11px;
    border-radius: 25px;
    border: 1.5px solid rgb(82, 52, 7);
    align-items: center;
}
#about_title {
    text-align: center;
    font-size: 50px;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    margin-top: 10px;
    color: #005222;
    margin-bottom: -10px; /* הוסף את זה לצמצום המרווח */
    padding-bottom: 0; /* עדכן את זה */
}

#about-text {
    text-align: center;
    width: 100px;
    margin-left: -35px;
    font-size: 21px;
    margin-top: 10px; /* עדכן את זה לצמצום המרווח */
    color: #8B4513;
    display: inline;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
}


.about-list-item {
    list-style-type: none;
    margin-top: 15px;
}
.about  ul {
    display: inline-block;
}
 .about ul li {
    padding-top: 10px; 
    display: inline-block;
}

