@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    background-image: url('../../public/img/Druze1flags.jpg');
   
}
.form{
    width: 600px;
  height: 350px;
  background-color: rgba(236, 236, 236, 0.728);
  margin-top: 150px;
  margin-left: 300px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;

}
#fname{
    color:#8B4513;
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 35px;
    margin-top: 5px;
}

#t1{
    color: #005222;
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 23px;
    margin-top: 20px;
}

.addyourquestion{
    /* background-color: rgba(236, 236, 236, 0.813); */
    border-radius: 20px;
    padding: 25px;
    width: 400px;;
    height: 150px;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 80px;
    margin-top: -30px;
    text-align: left;
    color: #75390e;
}
input{
    width: 400px;
    padding: 15px;
    margin:3px 0;
    border: 1px solid #783d3d;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 200;
    font-size: 20px;
}
input[type="submit"] {
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(12, 92, 53, 1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;}
