@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.body{
    background-image: url('../../public/img/Druze1flags.jpg');

}
#name{
    color:#d5d0c6;
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 100;   
     font-size: 40px;
    padding: 35px;  
    margin-top: 7%; 
}
.back{
    background-color: rgba(236, 236, 236, 0.728);
    border-radius: 10px;
    padding: 33px;
    width: 400px;
    height: 290px;
    margin-left: 727px;
    margin-top: -45px;

}

#ctext{
    color: #005222;
    text-align: center;
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight:500; 
    font-size: 23px;
    margin-top: 20px;
}

#icon1{
    background-image: url("../../public/img/contactus1.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: -5px;

}
#trinagle{
    width: 0;
    height: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 100px  solid rgba(236, 236, 236, 0.728);
    transform: rotate(90deg);
    margin-left: -354px;
    margin-top: -205px;

}
#trinagle1{
    width: 0;
    height: 0;
    border-left: 170px solid transparent;
    border-right: 170px solid transparent;
    border-bottom: 100px  solid rgba(236, 236, 236, 0.728);
    transform: rotate(-90deg);
    margin-left: -252.5px;
    margin-top: -100px;

}
.contactus{
    background-color: rgba(236, 236, 236, 0.728);
    border-radius: 10px;
    padding: 32.5px;
    width: 400px;;
    height: 290px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 60.9px;
    margin-top: -356px;
    text-align: left;
    color: #005222;
}
input{
    width: 400px;
    padding: 5px;
    margin:3px 0;
    border: 1px solid #e4c1c1;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: 20px;
}

input[type="submit"] {
    width: 100px;
    padding: 10px;
    text-align: center;
    margin-left: 150px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(12, 92, 53, 1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}