.body {
  background-image: url('../../public/img/Druze1flags.jpg');


}


#faq {
  color:rgb(240, 212, 180);
  text-align: center;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-top: 110px;
  padding: 0;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: left; /* מרכז את הכפתורים */
  margin-left: 50px;
}

.popup-button {
  background-color:#f7f2e9d9;
  border: none;
  color: #4e7e63;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 28px;
  margin: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
  width: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight:normal;
}

.popup-button:hover {
 background-color:#f0cb81;
    transform: scale(1.05);
}

.popup-button:active {
  background-color: rgba(79, 97, 21, 0.443); 
  transform: scale(1);
}

.special-button {
  background-color: #ffcc00;  
  color: #000000; 
  margin-bottom: 70px;
  width: 69%;
}

.special-button:hover {
  background-color: rgb(184, 190, 135); 
}
.popup-button:not(:last-child) {
  border-bottom: 1px solid #000; /* קו מפריד בין הכפתורים */
  margin-bottom: 10px; /* רווח אחרי הקו */
}
.buttons-and-text {
  display: flex;
}



.rectangle {
  display: flex;
  position: fixed;
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: rgb(181, 190, 184);
  width: 640px;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
}
#rtext{
  text-decoration: none;
  margin-left: 175px;
  margin-top: 115px;
  color: #133703;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight:normal;
  font-weight: 400;
  font-size: 20px;
}